extends layout/_layout

block content
  section
    h1
      | AWS移行してみたけどぶっちゃけどうよ。
    h3
      | 株式会社レコチョク
    p
      | 近藤　圭太
  section
    h2 アジェンダ
    .fragment ・自己紹介
    .fragment ・AWSって
    .fragment ・移行するにあたって
    .fragment ・使ってみて思うこと
  section(style="text-align:left;")
    h2 自己紹介
    .fragment  
        |株式会社レコチョク事業システム推進部
        br
        |システムアーキテクトグループ
        br
        |グループ長
    .fragment
     |主にJavaでWebアプリケーションを構築
     br
     |レコチョクに入社してからは
     br
     |検索エンジンの内製
     br
     |音源配信サーバの構築
     br
     |マネージメントを少々
     br
     |いま興味があるのはnode.js、Goあたり
  section
   h2 AWSって
   .fragment
       |こちらをご覧ください
       br
       a(href="https://aws.amazon.com/jp/","target=_blank") https://aws.amazon.com/jp/
    aside(class="notes")
      |ここでAWS知ってる人、使ったことある人聞いてみる。
  section
    h2 移行するにあたって
    .fragment どんなシステムを持っていったのか
    .fragment 様々な音楽配信サービスのバックエンドシステム
    .fragment 例えば検索とか決済処理とか会員管理を行うシステム
    .fragment これらのシステムは冒頭のサービス全般に広く使われているシステムです！！
  section
    h4 アプリ開発しかしたことなかったメンバーがほとんど
    .fragment
      |DB構築
      br
      |ネットワーク構築
      br
      |監視
      br
      |etc...
    .fragment どうやんだっけ？？
    .fragment 組織の業務範囲や個人の意識を変える事も重要
    .fragment これらを約2年で移行させました。
  section(style="text-align:left;")
    h2 苦労した点
    .fragment すでに動いているサービスをどう移行させるか（スタートアップではない苦労）
    .fragment とにかくなんでも自由にできてしまうのがAWS
    .fragment 各エンジニアがやりたいことと VS 組織として担保しなければいけないこと
    .fragment スケジュールとAWS側の進化の折り合い
  section
    h2 素晴らしい動画がありますので是非見てください！
    iframe(width="560" height="315" src="https://www.youtube.com/embed/uWf7WdclIaQ" frameborder="0")
    aside(class="notes")
      |時間調整で適宜動画再生してみたりする。  
  section(style="text-align:left;")
    h2 使ってみて思うこと
    .fragment ・良かった点
    .fragment スケールアウト／アップ↔イン／ダウンが簡単にできる
    .fragment システム設計の幅が広がる
    .fragment 当然エンジニアとしてのスキルの幅も広がる
    .fragment ・しんどかった点
    .fragment 公式ドキュメントに書いて有ることが稀に間違っている
    .fragment 料金計算の予測がとても難しい
    .fragment 予告なしの仕様変更、機能追加があり常にウォッチしておく必要がある
    .fragment 管理系の機能がまだ十分でない
  section(style="text-align:left;")
    h2 これから
    .fragment いかにオンプレ脳から脱出してクラウドを使うこなすか
    .fragment イミュータブルインフラストラクチャやサーバレス
    .fragment 管理工数を自動化して運用を楽に
  section
    h1 現在
  section
    h1 AWSアカウント数
    br 
    h1 104
  section
    h1 EC2の台数
    br
    h1 886
  section
    h1 RDSの台数
    br
    h1 114 
  section
    h1 コストの推移
    img(src="img/cost.png")
    aside(class="notes")
      |右肩上がりで増えていっている。（9月は途中なので凹んでる。）
  section
    h1 これらのシステムを40人を超えるエンジニアが日々開発／運用しています
  section 
    h1 結論
  section
    h1 やってよかった
  section
    h1 次回予告
  section
    h4 少し詳細な内容に触れてみたいと思います。
    .fragment
      |検索エンジンを移行してみてどうだったか。（仮）
      br
      |Amazon　CloudSearchの利用事例を紹介予定
    .fragment
      |会員システムのDBを移行してみてどうだったか。（仮）
      br
      |Amazon　Auroraの利用事例を紹介予定
    aside(class="notes")
      |もしかしたらスペシャルゲストが来ていただけるかもしれません。
  section
    h1 ご清聴ありがとうございました。
    aside(class="notes")
      |質問などありましたらこのあとお気軽にどうぞ
block script
