extends layout/_layout

block content
  section
    h1
      | AWS移行してみたけどぶっちゃけどうよ。
    h3
      | 株式会社レコチョク
    p
      | 近藤　圭太
  section
    h2 アジェンダ
    .fragment ・自己紹介
    .fragment ・AWSって
    .fragment ・移行するにあたって
    .fragment ・使ってみて思うこと
  section
    h2 ■自己紹介
    .fragment  
        |株式会社レコチョク事業システム推進部
        br
        |システムアーキテクトグループ
        br
        |グループ長
    .fragment
     |主にJavaでWebアプリケーションを構築
     br
     |検索エンジンの内製
     br
     |AWS移行
     br
     |マネージメントを少々
     br
     |最近はnode.js、Goに興味を持つ
  section
   h2 ■AWSって
   ul
     |こちらをご覧ください
    .fragment
      a(href="https://aws.amazon.com/jp/","target=_blank") https://aws.amazon.com/jp/
  section
    h2 ■移行するにあたって
    .fragment どんなシステムを持っていったのか
    .fragment 様々な音楽配信サービスのバックエンドシステム
    .fragment 例えば
    .fragment 楽曲検索、会員管理、決済処理を行うシステム
  section
    p
      |画像
      |これとかこれとかこれ
  section
    h1 現在
  section
    h1 EC2の台数
    .fragment 444
  section
    h1 
  section
    h1 結論
  section
    h1 やってよかった
  section
    h1 ご清聴ありがとうございました。
block script
